@font-face {
	font-family: 'Kimberley';
	src: url('kimberley_bl.ttf');
}
html { 
	background: url(Images/BG_1.png) no-repeat center fixed; 
	background-size: cover;
}
body {
	font-family: 'Kimberley', Fallback, sans-serif;
}
.wrapper {
height: 100%;
display: block;
margin: auto;
text-align: center
}
h1 {
	margin-top: -1em;
}
h2 {
	margin-top: -.8em;
	color: white;
	font-size: 40px;
	line-height: 20px;
}
h3 {
	margin-top: -3em;
}
h4 {
	color: white;
	font-size: 40px;
	line-height: 20px;
}
#OSTLogos {
  position: relative;
  top: .8em;
  right: 1.5em;
}
.ostlogo {
  position: relative;
  left: 10em;
}
.ytlink {
  position: relative;
  right: 11em;
}
.sclink {
  position: relative;
  top: 2.5em;
  left: 5em;
}