@font-face {
	font-family: 'Kimberley';
	src: url('kimberley_bl.ttf');
}
html { 
  background: url(Images/BG_3.png) left top repeat-y, url(Images/BG_2.png) right bottom repeat-y, url(Images/BG_1.png) no-repeat center fixed;
  background-size: 275px, 275px, cover;
  background-transform: rotate(20deg)rotate(20deg)rotate(0deg);
}
body {
	font-family: 'Kimberley', Fallback, sans-serif;
}
.wrapper {
height: 100%;
width: 1000px;
display: block;
margin: auto;
text-align: center
}
.divider {
	margin-top: 5.5em;
}
h1 {
	margin-top: -1em;
}
h2 {
	margin-top: -.8em;
	color: white;
	font-size: 40px;
	line-height: 20px;
}
h3 {
	margin-top: -4em;
}
h4 {
	color: white;
	font-size: 40px;
	line-height: 20px;
}
#OSTLogos {
  position: relative;
  bottom: .5em;
  right: 1.5em;
}
.ostlogo {
  position: relative;
  left: 10em;
}
.ytlink {
  position: relative;
  right: 11em;
}
.sclink {
  position: relative;
  top: 2.5em;
  left: 5em;
}